* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(122, 122, 122);
}

a {
  text-decoration: none;
  color: #1a73e8;
  margin: 15px 0;
  font-size: 14px;
  transition: all ease-in-out 0.2s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  padding: 1rem 0;
}

.container {
  background-color: white;
  padding: 2rem 0.5rem;
  width: 100%;
  height: 100%;

  .social-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    
    .social .fab {
      margin: 0 20px;
      font-size: 2rem;
      transition: all ease-in-out 0.3s;

      &:hover {
        transform: scale(1.3);
      }
    }

    .fa-facebook-f {
      color: #3B5998;
    }

    .fa-google {
      color: #dd4b39;
    }
    
    .fa-linkedin-in {
      color: #0E76A8;
    }
  }

  /* horizontal line */
.hl {
  display: flex;
  align-items: center;
  background: white;
  justify-content: center;
  width: 100%;
}

.line {
  margin: 1rem 0;
  border: 2px solid #ddd;
  display: block;
  width: 100vw;
}

/* text inside the horizontal line */
.hl-innertext {
  background: white;
  font-size: 1.25rem;
  padding: 0 0.5rem;
  position: absolute;
  max-height: 100%;
}

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;

    form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 0 5%;

      h2 {
        margin: 1rem 0;
        font-weight: 700;
        text-transform: uppercase;
      }

      .form-group {
        width: 100%;
        margin-bottom: 0.75rem;

        label {
          font-size: 0.75rem;
          font-weight: 700;
          margin-left: 5px;
        }

        .input-field {
          position: relative;

          input {
            padding-left: 3rem;
          }


          i {
            position: absolute;
            font-size: 1.5rem;
            top: 30%;
            padding-left: 0.5rem;
          }
        }

        input {
          font-size: 1.25rem;
          background-color: #f5f5f5;
          padding: 1rem;
          margin: 5px 0;
          width: 100%;
          border: none;
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
          outline: none;
          border-radius: 5px;
          
          &:focus-within {
            border-bottom: #0f0133 1px solid;
            transition: all ease-in-out 0.3s;
          }
        }
      }
      
      .links {
        margin: 1rem 0;
        // align-self: flex-start;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .link {
          margin-bottom: 0.75rem;
          &::after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: #1a73e8;
            transition: width .3s;
            margin-top: 2px;
            border-radius: 20px;
          }
          
          &:hover {
            transform: scale(1.025);
            transition: all ease-in-out 0.3s;
          }
        
          &:hover::after {
            width: 100%;
          }
        }
      }

      button {
        width: 98%;
        font-family: 'Nunito', sans-serif;
        font-size: large;
        color: #474747;
        padding: 1rem 0.75rem;
        margin: 1rem 0;
        border-radius: 50px;
        border: none;
        outline: none;
        transition: all ease-in-out 0.2s;
        text-transform: uppercase;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
        // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        &:hover {
          cursor: pointer;
          background-color: #0f0133;
          color: white;
          transform: scale(1.025)
        }
      }
    }
  }
}


@media screen and (min-width: 600px) {
  .container {
    border-radius: 5px;
    max-height: 800px;
    max-width: 500px;
    margin: 2rem 0;
  }
}