* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(122, 122, 122);
}

a {
  text-decoration: none;
  color: #1a73e8;
  margin: 15px 0;
  font-size: 14px;
  transition: all ease-in-out 0.2s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  padding: 1rem 0;
}

.container {
  background-color: white;
  padding: 1rem 0.5rem;
  width: 100%;
  height: 100%;
  margin-bottom: -64px;           // negative height of footer
  padding-bottom: 64px;           // height of footer - needed to fix issue where footer covers page content when mobile keyboard is open
  min-height: calc(100vh - 64px); // place footer at bottom

  .social-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    
    .social .fab {
      margin: 0 20px;
      font-size: 2rem;
      transition: all ease-in-out 0.3s;

      &:hover {
        transform: scale(1.3);
      }
    }

    .fa-facebook-f {
      color: #3B5998;
    }

    .fa-google {
      color: #dd4b39;
    }
    
    .fa-linkedin-in {
      color: #0E76A8;
    }
  }

  /* horizontal line */
.hl {
  display: flex;
  align-items: center;
  background: white;
  justify-content: center;
  width: 100%;
}

.line {
  margin: 1rem 0;
  border: 2px solid #ddd;
  display: block;
  width: 100vw;
}

/* text inside the horizontal line */
.hl-innertext {
  background: white;
  font-size: 1.25rem;
  padding: 0 0.5rem;
  position: absolute;
  max-height: 100%;
}

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;

    form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 0 5%;

      h2 {
        // margin: 1rem 0;
        font-weight: 700;
        text-transform: uppercase;
      }

      .form-group {
        width: 100%;
        margin-bottom: 0.75rem;

        label {
          font-size: 0.85rem;
          font-weight: 700;
          display: block;
          margin-bottom: 5px;
        }

        .input-container {
          // position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 1px solid red;

          input {
            font-size: 1.25rem;
            background-color: #f5f5f5;
            padding: 1rem;
            // margin: 5px 0;
            width: 100%;
            border: 1px solid rgba(122, 122, 122, 0.75);
            border-left: none;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
            outline: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            
            &:focus {
              border: #0f0133 1px solid;
              border-left: none;
              transition: all ease-in-out 0.5s;
            }
          }


          i {
            background-color: #0f0133;
            color: #fff;
            font-size: 1.66rem;
            padding: 1rem;
          }
        }
      }
      
      .links {
        margin: 1rem 0;
        // align-self: flex-start;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .link {
          margin-bottom: 0.75rem;
          &::after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: #1a73e8;
            transition: width .3s;
            margin-top: 2px;
            border-radius: 20px;
          }
          
          &:hover, &:focus {
            outline: none;
            transform: scale(1.025);
            transition: all ease-in-out 0.3s;
          }
        
          &:hover::after, &:focus::after {
            width: 100%;
          }
        }
      }

      button {
        width: 98%;
        font-family: 'Nunito', sans-serif;
        font-size: large;
        color: #474747;
        padding: 1rem 0.75rem;
        margin: 1rem 0;
        border-radius: 50px;
        border: none;
        outline: none;
        transition: all ease-in-out 0.2s;
        text-transform: uppercase;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
        // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        &:hover, &:focus {
          cursor: pointer;
          background-color: #0f0133;
          color: white;
          transform: scale(1.025)
        }
      }
    }
  }
}

footer {
  position: relative;
  background-color: #0f0133;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1.4;
  padding: 1rem;

  p {
    color: white;
    margin-bottom: 0.5rem;

    i {
      color: red;
      padding: 0 1px;
    }

    a {
      font-size: 0.75rem;
    }
  }
}


@media screen and (min-width: 600px) {
  .container {
    border-radius: 5px;
    max-height: 800px;
    max-width: 500px;
    margin: 2rem 0;
  }

  footer {
    position: unset;
    flex-direction: row;
    justify-content: space-around;
  }
}